@media (min-width: 768px) and (max-width: 1366px) {
  .nav-name {
    display: none;
  }
  #banner {
    height: 100%;
  }

  #job-grid {
    grid-template-columns: 1fr 1fr;
  }

  #job-grid {
    margin: auto;
  }

  .cert1,
  .cert2,
  .cert3 {
    display: block;
  }

  #cert-content {
    margin-left: 0px;
  }

  .cer-title {
    font-size: 15px;
  }
}
